<div class="Task">
  <div class="Task-container">
    <header class="Task-header">
      <h2 class="Task-heading">To do homework</h2>
    </header>
    <section class="">
      <ul class="Task-description">
        <li class="Task-date">
          Date:
        </li>
        <li class="Task-time">
          Time:
        </li>
        <li class="Task-info">
          Info:
        </li>
        <li class="Task-done">Done?
          <input class="Task-checked" type="checkbox">
        </li>
      </ul>
    </section>
  </div>
</div>
